<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Fornecedor" [(ngModel)]="product.manufactorer" name="manufactorer">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade em Estoque" [(ngModel)]="product.stock" name="stock">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Peso (Kg)" [(ngModel)]="product.weight" name="weight">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Categoria" [(ngModel)]="product.category" name="category">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" [(ngModel)]="product.status" name="status">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Validade" type="date" [(ngModel)]="product.validity" name="validity">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>