<mat-card>
    <mat-card-title>Novo Fornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="manufac.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ" [(ngModel)]="manufac.cnpj" name="cnpj">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="manufac.endereco" name="endereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="manufac.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="manufac.email" name="email">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createManufactorer()">
        Adicionar
    </button>


</mat-card>
